@charset "UTF-8";

/*em HTML é id = em CSS é(um so elemento) #
e, HTML é class = em CSS é . (Pode varios elementos)*/
body{
    background-image: linear-gradient(to right, #1EB5E7, #cfdbdf );
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#0D4561;
}
h1#principal {
    text-align: center;
    background-color:#0D4561;
    color: white;
}
h2{
    color: #4B7184;
}
.basico{
    color: #002fff;
    font-weight: lighter ;
}
.intermediario{
    color: #002fff;
}
.avancado{
    color: #002fff;
}
.destaque{
    background-color: #0c3f503b;
}